{% block custom_css %}
<style>
        .navbar.navbar-expand-lg.navbar-dark {
            background: #1768be;
        }
</style>
{% endblock custom_css %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item me-2">
                    {% url 'home' as home %}
                    <a class="nav-link active" aria-current="page" href="{{ home }}">Szkoła Spawalnicza</a>
                </li>
                <li class="nav-item me-2 ">
                    {% url 'staffmanageattendance' as staffmanageattendance %}
                    <a class="nav-link" href="{{ staffmanageattendance }}">
                        <i class="far fa-calendar-check me-1"></i>Obecność</a>
                </li>
                <li class="nav-item me-2">
                    {% url 'staffmanageresults' as staffmanageresults %}
                    <a class="nav-link" href="{{ staffmanageresults }}">
                        <i class="fas fa-graduation-cap me-1"></i>Oceny</a>
                </li>
                <li class="nav-item me-2">
                    {% url 'staffmanagematerials' as staffmanagematerials %}
                    <a class="nav-link" href="{{ staffmanagematerials }}">
                        <i class="fas fa-book-open me-1"></i>Materiały</a>
                </li>
                <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user me-1"></i>Profil
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'staffprofile' %}">Edytuj profil</a></li>
                    <li><a class="dropdown-item" href="{% url 'logoutpage' %}">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
