{% extends 'staff/staffbase.html' %}
{% block content %}
{% block custom_css %}
<style>
    .content {
        width: 75%;
        top: 200px;
        left: 45%;
        transform: translate(15%, 25px);
        opacity: 85%;
    }
    .button{
        width: 100px;
        height: 25x;
    }
    .search{
        width: 97%;
        height: 40px;
        border: none; 
        border:solid 1px #000000;
        border-radius: 5px;
    }
    .mtable{
        font-size: 18px;
    }
</style>
{% endblock custom_css %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h2>{{ material.title }} </h2>
                    </div>
                        {% csrf_token %}
                        <div class="card-body">
                            {{ material.content|safe }}
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
{% endblock %}