{% extends 'school/base.html' %}
{% block content %}
{% block custom_css %}
<style>
    .content {
        width: 75%;
        top: 200px;
        left: 45%;
        transform: translate(15%, 25px);
        opacity: 85%;
    }
    .button{
        width: 100px;
        height: 25x;
    }
    .search{
        width: 97%;
        height: 40px;
        border: none; 
        border:solid 1px #000000;
        border-radius: 5px;
    }
    .mtable{
        font-size: 18px;
    }
</style>
{% endblock custom_css %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Hasło zresetowano</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="label mb-2 mt-1 ms-2">Hasło zostało zresetowane, możesz zalogować się na swoje konto.</label>
                        </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}